div.dropdown:focus, 
div.dropdown.active, 
div.dropdown:hover, 
div.dropdown .menu:hover,
div.dropdown:active  {
    border-color: #4ba833 !important;
}

div.dropdown.small {
    max-height: 300px;
    overflow-y: auto;
}