div.custom-small-block {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.custom-active-green {
    background-color: #4ba833 !important;
    color: white !important;  
}

button.custom-active-green:hover {
    background-color: #51b937 !important;
}

div.login-form-block {
    background-color: rgba(255, 255, 255, 0.95) !important;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding-top: 20px;
    min-width: 250px;
}

div.front-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    background-image: url('../images/CreoFrontPagev2.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:     cover;   
    background-attachment: fixed;
}